# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.pytest_cache/

# Environments
.venv/
venv/
.env


# Project output
transcript.jsonl
*.jsonl
tests/_speech.wav

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
